<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.dars.dao.security.UserDao">
    <select id="getMemberInfo" parameterType = "String" resultType = "kr.ac.dars.dto.security.UserDto">
        SELECT
            name,
            email,
            cellphone
        FROM
            public.user_info
        WHERE
            id = #{id}
        ;
    </select>
</mapper>