<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://webfontworld.github.io/SCoreDream/SCoreDream.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main/common.css">
    <link rel="stylesheet" href="/css/main/layout.css">
    <!-- 이부분 html 레이아웃으로 다시 만들 것 -->
    <script src="/js/common/jquery-3.6.0.min.js"></script>
    <script src="/js/common/jquery-ui.min.js"></script>
    <script src="/js/function/Function1D.js"></script>
    <title>소음 하 문장듣기</title>
</head>

<body>

    <div class="platform_wrap">
        <div class="top flexac">
            <div class="left flexac">
                <div class="logo">청각인지훈련플랫폼</div>
                <div class="nav_wrap">
                    <ul class="flex">
                        <li><a href="#" class="active">HOME</a></li>
                        <li><a href="#">LINK</a></li>
                        <li><a href="#">DISABLED</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <ul class="flexac">
                    <li>
                        <div class="search-box">
                            <input type="text" class="text" name="searchKeyword" id="searchKeyword" title="검색어를 입력하세요"
                                placeholder="검색어를 입력하세요" autocomplete="off">
                            <button type="submit" class="btn-search"><span class="blind">검색</span></button>
                        </div>
                    </li>
                    <li><input type="button" value="로그아웃" class="btn_global"></li>
                    <li><img src="/img/home/user.png" alt="유저"></li>
                </ul>
            </div>
        </div>
        <div class="content_wrap sub ">
            <div class="text sub2 flex">
                <h1>01</h1>
                <h2>소음 하 문장듣기</h2>
                <!-- <h3>(엑셀 화일 문장세트 모음)</h3> -->
            </div>
            <div class="list_wrap1 flex">
                <ul>
                    <li>
                        <a href="javascript:Level(1)" class="flex">
                            <p class="num">Level 1</p>
                            <p class="sup">Level 1은 조용한</br> 상황에서 문장만 들음</p>
                        </a>
                    </li>
                    <li class="flex"><p>이동하기</p><img src="/img/function/move_arrow.svg" alt="이동"></li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:Level(2)" class="flex">
                            <p class="num">Level 2</p>
                            <p class="sup">Level 2는 문장보다</br> 소음이 -6dB 적게 나옴.</br> (6 dB SNR 상황)</p>
                        </a>
                    </li>
                    <li class="flex"><p>이동하기</p><img src="/img/function/move_arrow.svg" alt="이동"></li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:Level(3)" class="flex">
                            <p class="num">Level 3</p>
                            <p class="sup">Level 3은 문장보다</br> 소음이 -3dB 적게 나옴.</br> (3 dB SNR 상황)</p>
                        </a>
                    </li>
                    <li class="flex"><p>이동하기</p><img src="/img/function/move_arrow.svg" alt="이동"></li>
                </ul>
                <ul>
                    <li>
                        <a href="javascript:Level(4)" class="flex">
                            <p class="num">Level 4</p>
                            <p class="sup">Level 4는 문장보다</br> 소음과 같은 수준으로 나옴.</br> (0 dB SNR 상황)</p>
                        </a>
                    </li>
                    <li class="flex"><p>이동하기</p><img src="/img/function/move_arrow.svg" alt="이동"></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>