<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://webfontworld.github.io/SCoreDream/SCoreDream.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main/common.css">
    <link rel="stylesheet" href="/css/main/layout.css">
    <!-- 이부분 html 레이아웃으로 다시 만들 것 -->
    <script src="/js/common/jquery-3.6.0.min.js"></script>
    <script src="/js/common/jquery-ui.min.js"></script>
    <script src="/js/function/Function3D.js"></script>
    <title>소음 하 문장듣기</title>
</head>
<body>
    <div class="platform_wrap">
        <div class="top flexac">
            <div class="left flexac">
                <div class="logo">청각인지훈련플랫폼</div>
                <div class="nav_wrap">
                    <ul class="flex">
                        <li><a href="#" class="active">HOME</a></li>
                        <li><a href="#">LINK</a></li>
                        <li><a href="#">DISABLED</a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <ul class="flexac">
                    <li>
                        <div class="search-box">
                            <input type="text" class="text" name="searchKeyword" id="searchKeyword" title="검색어를 입력하세요"
                                placeholder="검색어를 입력하세요" autocomplete="off">
                            <button type="submit" class="btn-search"><span class="blind">검색</span></button>
                        </div>
                    </li>
                    <li><input type="button" value="로그아웃" class="btn_global"></li>
                    <li><img src="/img/home/user.png" alt="유저"></li>
                </ul>
            </div>
        </div>
        <div class="content_wrap sub id3">
            <div class="text sub2 flex">
                <h1>03</h1>
                <h2>긴 이야기 듣기</h2>
            </div>
            <div class="list_wrap2 flex">
              <ul>
                <a href="javascript:Category(1)">
                    <li>요리</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(2)">
                    <li>전통문화</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(3)">
                    <li>스포츠</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(4)">
                    <li class="mr0">세계의 잔치</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(5)">
                    <li>속담</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(6)">
                    <li>지역</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(7)">
                    <li>세계유산</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(8)">
                    <li class="mr0">나라</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(9)">
                    <li class="mb0">건강</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(10)">
                    <li class="mb0">인물</li>
                </a>
              </ul>
              <ul>
                <a href="javascript:Category(11)">
                    <li class="mb0">기타</li>
                </a>
              </ul>
            </div>
        </div>
    </div>
</body>
</html>