<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/common/jquery-3.6.0.min.js"></script>
    <script src="/js/common/jquery-ui.min.js"></script>
    <script src="/js/FunctionSelect.js"></script>
    <title>Document</title>
</head>
<body>
    <a href = "javascript:Function1()">1. 소음 하 문장듣기</a><br>
    <a href = "javascript:Function2()">2. 짧은 이야기 듣기</a><br>
    <a href = "javascript:Function3()">3. 긴 이야기 듣기</a><br>
    <a href = "javascript:Function4()">4. 문장 순서화 하기</a><br>
    <a href = "javascript:Function5()">5. 가로세로 퀴즈</a><br>
</body>
</html>