<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/common/jquery-3.6.0.min.js"></script>
    <script src="/js/common/jquery-ui.min.js"></script>
    <script src="/js/Function4.js"></script>
    <title>문장 순서화 하기</title>
</head>
<body>
    <input type = "text" id = "search"><button type = "button" onclick = "javascript:changeFile()">문제검색</button><br><br>
    다음 문장을 보고 들은 순서대로 배열하세요.<br><br>
    <p id = "context"> </p><br>
    <audio controls id = "audio">
        <source src="" type="audio/wav">
    </audio>
    <br>
</body>
</html>