<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.dars.dao.function.Function2Dao">
	<select id="getAudioInfo1" parameterType = "kr.ac.dars.dto.function.Function2Dto" resultType = "kr.ac.dars.dto.function.Function2Dto">
        select
            speechcontext, questioncontext, answer
        from
            public.function2
        where
            substring(questioncode::varchar,0,3) = 'AA'
    </select>
    <select id="getAudioInfo2" parameterType = "kr.ac.dars.dto.function.Function2Dto" resultType = "kr.ac.dars.dto.function.Function2Dto">
        select
            speechcontext, questioncontext, answer
        from
            public.function2
        where
            substring(questioncode::varchar,0,3) != 'AA'
    </select>
</mapper>