<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.dars.dao.Function3Dao">
	<select id="getAudioInfo" parameterType = "kr.ac.dars.dto.Function3Dto" resultType = "kr.ac.dars.dto.Function3Dto">
        select
            f2.speechcontext, f1.questioncontext 
        from
            function3_2 f2
        left join
            function3_1 f1
        on
            f2.speechcode = f1.speechcode
        where
            f2.speechcode = #{speechcode}
        ;
	</select>
</mapper>